{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
      
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>chase your dreams</title>
    <style>
        #body_of_the_ticket_page{
            background-color: black;
            color: aqua;
        }
    </style>
  </head>
  <body id="body_of_the_ticket_page" style="background-color: #BC8F8F;">
    <div class="content" style="padding:30px 30px 30px 30px;">
      <section class="container my-2 w-100 text-light" style="padding: 30px 30px 20px 30px;">
          <div class="row">
              <div class="col md-2">
                  <p style="color:black;"> the following are the list of tickets</p>
              </div>
              <div class="col md-8"></div>
              <div class="col md-1">
                <a href="#" class="nav-link dropdown-toggle mx-3 " style="color:black" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">all</a>
                <ul class="dropdown-menu" style="background-color:black;color:#BC8F8F" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" style="color:#BC8F8F">open</a></li>
                    
                    <li><a class="dropdown-item" style="color:#BC8F8F">closed</a></li>
                    <li><a class="dropdown-item" style="color:#BC8F8F">all</a></li>
                  </ul>
              </div>
              <div class="col md-1">
                  <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#create_a_new_ticket_details_modal" style="background-color: white;color: black;">create</button>
              </div>
          </div>
      </section>
      <table class="table" id="tickets_table" >
          <thead>
              <tr>
                  <th>
                      ticket
                  </th>
                  <th>
                    description
                  </th>
                  <th>
                      Edit
                  </th>
                  <th>
                      Delete
                  </th>
                 <th>
                       status
                 </th>
              </tr>
          </thead>
          <tbody class="table-body" id="tickets_data">
          </tbody>
      </table>
  </div>
  <script>
     window.onload = async function(){
      var user_name = "{{user_name}}";
      var url="http://127.0.0.1:8000/dailywork/tickets"+"/"+user_name;
                let response = await fetch(url);
                var data = await response.json();
                try{
                    if(response.status==200){
                        console.log(data);
                        console.log(url);
                        populateUserTicketsTable(data);
                    }
                }
                catch(err){
                    console.log(err);
                }
            }
            function populateUserTicketsTable(data){
              $("#tickets_data").empty()
                if(data.length>0){
                    data.forEach((itemData) => {
                        var row_entry = $("<tr/>")
                        var title = $("<td/>").html(itemData.ticket_title);
                        var description = $("<td/>").html(itemData.ticket_description);
                        var status = $("<td/>").html(itemData.ticket_status);
                        const arra= [itemData.username,itemData.ticket_title,itemData.ticket_description,itemData.ticket_status];
                        $('#'+arra).toArray
                        var editBtn = $("<button/>").addClass("btn btn-sm").css("background-color","white").css("color","black").css("font-size","10px").attr("onClick",'modalShower()').html("edit");
                        var deleteBtn = $("<button/>").addClass("btn btn-sm").css("background-color","white").css("color","black").css("font-size","10px").click(function(){deleteTicket(itemData.username,itemData.ticket_title,itemData.ticket_description,itemData.ticket_status);}).html("delete");
                        var edit = $('<td/>').css("text-align","center").append(editBtn);
                        var delet = $("<td/>").css("text-align","center").append(deleteBtn);
                        row_entry.append(title);
                        row_entry.append(description);
                        
                        row_entry.append(edit);

                        row_entry.append(delet);
                        row_entry.append(status);
                        $("#tickets_data").append(row_entry)
                    });
                }
            }
  </script>
  </body>
</html>